@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Barlow:ital,wght@0,200;1,300;1,900&family=Fraunces:opsz,wght@9..144,700&family=M+PLUS+Rounded+1c:wght@900&family=McLaren&family=Roboto:wght@700&display=swap');




#container
{
    margin-top: 80px;
    width: 400px;
    height: 400px;
    position: relative;
    left: 30px;
    background-color: cadetblue;   
} 

form{
    
    position: relative;
    top: 20px;
}
#list
{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  
}
   
body{
    display:flex;
    flex-direction:row ;
    justify-content: center;
}

#button
{
    background-color: blue;
    color: white;
    width:200px;
    height: 50px;
    position: relative;
    top: 180px;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    
}
.confirmPass{
    position: relative;
    top: 160px;   
}
.password{
    position: relative;
    top: 120px;   
}
.email{
    position: relative;
    top: 80px;   
}
.phone{
    position: relative;
    top: 40px;   
}
input
{
    height: 20px;
    width: 250px;
}
h1{
    text-align: center;
    font-size: 80px;
    margin-top: 300px;
    color: black;
}
.corps
{
    background-color: whitesmoke;
}
.error{
    position: absolute;
    left: 460px;
    top: 50px;
    color: red;
    font-size:30px;
    font-weight: bold;
    display: none;
   

}


